<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create team</title>
</head>
<body>
<form action="#" th:action="@{/team-create}" th:object="${team}" method="post">
    <label for="teamName">Team name</label>
    <input type="text" th:field="*{teamName}" id="teamName" placeholder="Team Name">
    <label for="capitanName">Capitan name</label>
    <input type="text" th:field="*{capitanName}" id="capitanName" placeholder="Capitan Name">
    <label for="coachName">Coach name</label>
    <input type="text" th:field="*{coachName}" id="coachName" placeholder="Coach Name">
    <input type="submit" value="Create Team">
</form>
</body>
</html>